<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>All the pets!</h1>

  <a href="/pets/new">Create a new pet!</a>

  <% for (const petId in pets) { %>
    <div>
      <h2>Name: <%= pets[petId].name %></h2>
      <h3>Type: <%= pets[petId].type %></h3>
      <h3>Breed: <%= pets[petId].breed %></h3>
      <h3>Age: <%= pets[petId].age %></h3>

      <form method="POST" action="/pets/<%= petId %>/delete">
        <button type="submit">Delete</button>
      </form>

    </div>
  <% } %>
</body>
</html>
